.circlesWrapper {
  position: relative;
  width: 100%;
  height: 100%;

  .circle {
    position: absolute;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    background: transparent;
  }

  .biggest {
    width: 164px;
    height: 164px;
    top: -12px;
    font-size: 28px;
    right: 0;
  }

  .big {
    width: 128px;
    height: 128px;
    top: 32px;
    font-size: 20px;
    left: 26px;
  }

  .medium {
    width: 94px;
    height: 94px;
    bottom: 12px;
    font-size: 16px;
    left: 66px;
  }

  .small {
    width: 74px;
    height: 74px;
    bottom: 32px;
    font-size: 12px;
    right: 56px;
  }
}