.cardWrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.barsWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.percentageBarWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .percentageBar {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 12px;
    background: #e5e5e5;
    border-radius: 4px;

    .percentageBarContent {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      border-radius: 4px;
      background: var(--accent-primary);
    }
  }
}

.percentageBlock {
  width: 100%;
  display: flex;
  justify-content: end;
}


