.header {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;

  .titleWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .actionsWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}