.sidebar {
  width: 250px;
  height: 100vh;
  background: var(--bg-primary);
  border-right: 1px solid #B1B1B1;

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
  }

  &__menu-items {

    &_item {
      height: 60px;
      display: flex;
      align-items: center;
      padding-left: 36px;
      cursor: pointer;
    }
  }
}