[data-brand='twitch'] {
  --color-brand-50:  #f5f3ff;
  --color-brand-100: #ede9fe;
  --color-brand-500: #9146ff;
  --color-brand-600: #7c3aed;
  --color-brand-700: #6d28d9;
}

[data-brand='kick'] {
  --color-brand-50:  #ecfdf5;
  --color-brand-100: #d1fae5;
  --color-brand-500: #53fc18;
  --color-brand-600: #22c55e;
  --color-brand-700: #16a34a;
}
