[data-theme='dark'] {
  --bg-primary: #020617;
  --bg-secondary: #0f172a;

  --text-primary: #f8fafc;
  --text-secondary: #94a3b8;

  --border-default: #1e293b;

  --accent-primary: var(--color-brand-500);
  --accent-hover: var(--color-brand-600);
}