.app {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  background: var(--bg-root);
}

.content-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}