.user-card {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-card__info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.AvatarRoot {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  overflow: hidden;
  user-select: none;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: var(--bg-secondary);
}

.AvatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.AvatarFallback {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: var(--text-primary);
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
}