.pageWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
  padding: 40px;
}

.cardWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 20px;

  .totalCard {
    height: 370px;
    width: 100%;
  }

  .severityCard {
    height: 370px;
    max-width: 520px;
    width: 100%;
    min-width: 0;
  }

  .topRegionsCard {
    height: 100%;
    max-width: 420px;
    width: 100%;
    min-width: 0;
  }

  .incidentsCompletionCard {
    height: 100%;
    max-width: 520px;
    width: 100%;
    min-width: 0;
  }

  .card {
    min-width: 0;
    height: 100%;
    width: 100%;
  }
}

