.pageWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
  padding: 40px;
}

.cardWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 20px;

  .totalCard {
    height: 370px;
    width: 100%;
  }

  .severityCard {
    height: 370px;
    width: 100%;
  }

  .card {
    height: 100%;
    width: 100%;
  }
}

